@import '@/lib/reset.scss';

.detailWrap{
	@include rect(100%,100%);
	@include text-color(#333);
	@include background-color(#f2f2f2);
}

//详情页======================================================================
.detailWrap{
	@include flexbox();
	@include flex-direction(column);
	header{
		@include rect(100%,auto);
		@include background-color(#ffffff);
		clear:both;
		.goBack{
			float:left;
			@include rect(0.5rem,0.5rem);
			@include flexbox();
			@include justify-content();
			@include align-items();
			i{
				@include font-size(0.24rem);
			}
		}
		.shop-car{
			float:right;
			@include rect(0.5rem,0.5rem);
			@include flexbox();
			@include justify-content();
			@include align-items();
			i{
				@include font-size(0.26rem);
				@include margin(-4px 0 0 0);
			}
			
		}
		.kind{
			float:right;
			@include rect(0.5rem,0.5rem);
			@include flexbox();
			@include justify-content();
			@include align-items();
			i{
				@include font-size(0.14rem);
			}
		}
	}
	section{
		@include flex();
		@include rect(100%, auto);
		@include overflow();
		.am-carousel{
			padding-top: 0.6rem;
			// box-shadow: 0 -0.2rem 0.2rem ;
		}
		.detailTitle{
			@include margin(0.1rem 0 0 0);
			@include padding(0.12rem 0);
			@include rect(100%, 0.68rem);
			@include background-color(#ffffff);
			p:first-child{
				@include rect(70%, 100%);
				@include padding(0 0.12rem);
				float: left;
			}
			p:last-child{
				@include rect(15%, 100%);
				@include text-align();
				@include padding(0 0.12rem);
				float: right;
				border-left:1px solid #e1e1e1;
				span{
					@include font-size(0.1rem);
					display: block;
				}
				i{
					@include font-size(0.24rem);
					@include line-height(0.24rem);
					
				}
			}
			
		}
		.detailPrice{
			@include rect(100%, 0.52rem);
			@include background-color(#ffffff);
			@include padding(0.12rem);
			border-top: 1px #f0f0f0 solid;
			border-bottom: 1px solid #e1e1e1;
			@include flexbox();
			@include justify-content(space-between);
			@include font-size(0.12rem);
			@include line-height(0.26rem);
			span:first-child{
				@include text-color(#e8343b);
				@include font-size(0.16rem);
				font-weight: 700;
			}
		}
		.detailService{
			@include rect(100%, auto);
			@include flexbox();
			li{
				@include rect(25%, 0.36rem);
				@include font-size(0.12rem);
				@include line-height(0.36rem);
				@include text-align();
				i{
					@include font-size(0.10rem);
				}
			}
		}
		
	}
	
	footer{
		@include rect(100%, auto);
		@include background-color(#fff);
		ul{
			@include rect(100%, 0.6rem);
			@include flexbox();
			li{
				@include flex();
				@include text-align();
				@include line-height(0.6rem);
				@include text-color(#fff);
			}
			li:last-child{
				@include background-color(#FF9500);
			}
			li:nth-of-type(2){
				@include background-color(#e8343b);
			}
			li:first-child{
				@include flexbox();
				@include line-height(0.2rem);
				@include text-color(black);
				span{
					display: block;
					@include flex();
					@include padding(0.1rem 0);
					i{
						@include font-size(0.18rem);
					}
				}
			}
			
		}
	}


}

